.main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.main h2 {
    font-size: 4em;
}

.main h3 {
    font-size: 2em;
    font-weight: 400;
    margin-bottom: 20px;
}

