@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    color: white;
    text-decoration: none;
}
html,body{
    min-height: 100%;
}
body{
    /* background: radial-gradient(at top left, rgba(146, 43, 225, 1) 0%, rgba(43, 9, 107, 1) 100%); */
    background: radial-gradient(at top left, rgb(89, 0, 255), rgb(0, 34, 128));
    background-repeat: no-repeat;
}
p{
    margin: 16px auto;
    line-height: 1.5em;
}

/* layout & nav */
.layout {
    max-width: 100%;
    margin: 0 auto;
}
.content{
    position: absolute;
    justify-content: center;
    align-items: center;
    margin: 5% ;
}

nav {
    display: flex;
    justify-content: space-between;
    margin: 40px 80px;
}

nav .links {
    display: inline-block;
    text-align: right;
}

nav a {
    display: inline-block;
    margin-left: 20px;
    font-weight: 400;
    padding-bottom: 8px;
    border-bottom: 3px solid transparent;
}

nav a:hover {
    border-color: white;
}

footer p {
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: center;
    color: #bbb;
    margin: 40px auto;
}